# Line endings: LF in the repo, native in the working tree
* text=auto

# WoW files and scripts
*.lua  text
*.toc  text
*.xml  text
*.md   text
*.mjs  text
*.json text
# PowerShell scripts with CRLF on Windows
*.ps1  text eol=crlf

# Binary files
*.tga  binary
*.blp  binary
*.png  binary
*.jpg  binary
*.ttf  binary
*.ogg  binary
*.mp3  binary
