# Zeilenenden im Repo einheitlich LF, im Arbeitsverzeichnis je nach System
* text=auto

# WoW-Dateien und Skripte
*.lua  text
*.toc  text
*.xml  text
*.md   text
*.mjs  text
*.json text
# PowerShell-Skripte unter Windows mit CRLF
*.ps1  text eol=crlf

# Binärdateien
*.tga  binary
*.blp  binary
*.png  binary
*.jpg  binary
*.ttf  binary
*.ogg  binary
*.mp3  binary
